<div class="breadcrumb">
  <h1>Gestione Veicolo</h1>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row mb-4">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card mb-4 noround">
      <div class="card-body">
        <div class="card-title mb-3">Filtro Ricerca Veicolo</div>
        <form [formGroup]="cercaVeicoloForm" (ngSubmit)="cercaVeicolo()">
          <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="matricola">Matricola</label>
                <input class="form-control" id="matricola" formControlName="matricola" placeholder="Matricola" type="matricola"/>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="telaio">Telaio</label>
                <input class="form-control" id="telaio" formControlName="telaio" placeholder="Telaio" type="cup"  />
              </div>
              <div class="col-md-6 form-group mb-3 text-center">
                <label for="assegnatario">Azienda Ass</label>
                <select class="form-control" id="assegnatario" formControlName="assegnatario"   [compareWith]="compareAzienda">
                  <option [ngValue]="null" ></option>
                  <option [ngValue]="l" *ngFor="let l of listAzienda">{{l.nome}}</option>
                </select>
              </div>
          </div>
            <br>
            <div class="col-md-12 text-center">
              <btn-loading type="submit" btnClass="btn-primary btn-lg" [loading]="loading">Cerca</btn-loading>
            </div>
         
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<br>


<div class="row">
  
  <btn-loading type="button" btnClass="btn btn-info btn-lg" (click)="openLg(modalVeicolo,null)">Aggiungi</btn-loading>
  &nbsp;&nbsp;
  <btn-loading type="button" btnClass="btn btn-info btn-lg" (click)="exportCSV()">Esporta CSV</btn-loading>
  
  <table class="table table-bordered" style="margin-top: 5px;">
    <thead class="thead-blue">
      <tr>
        <th scope="col">Matricola</th>
        <th scope="col">Telaio</th>
        <th scope="col">Assegnatario</th>
        <th scope="col">Fornitore</th>
        <th scope="col">Modello</th>
        <th scope="col">Categoria</th>
        <th scope="col">Classe</th>
        <th scope="col">Alimentazione</th>
        <th scope="col">Allestimento</th>
        <th scope="col">Targa 1 Imm</th>
        <th scope="col">Data 1 Imm</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of listVeicolo">
        <th scope="row">{{l.matricola}}</th>
        <td>{{l.telaio}}</td>
        <td>{{l.assegnatario.nome}}</td>
        <td>{{l.fornitore.descrizione}}</td>
        <td>{{l.modello.descrizione}}</td>
        <td>{{l.categoria.descrizione}}</td>
        <td>{{l.classe.descrizione}}</td>
        <td>{{l.tipoAlimentazione.descrizione}}</td>
        <td>{{l.tipoAllestimento.descrizione}}</td>
        <td>{{l.targa1Imm}}</td>
        <td>{{l.dataPrimaImm}}</td>
        <td style="text-align: center;">
          <button class="btn btn-info btn-lg" (click)="openLg(modalVeicolo, l)" type="button">
            <i class="icon-regular i-Pen-2"></i>
          </button>
        </td>
        <td style="text-align: center;">
          <button class="btn btn-info btn-lg" (click)="deleteVeicolo(l.id)" type="button">
            <i class="icon-regular i-Close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<ng-template #modalVeicolo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Veicolo</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
        <form [formGroup]="veicoloForm" (ngSubmit)="salvaVeicolo()"   class="mx-auto">

            <input class="form-control" id="id" formControlName="id" type="hidden"  />

            <div class="row text-center">
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="matricola">Matricolaa</label>
                  <input class="form-control" id="matricola" formControlName="matricola" placeholder="Matricola" type="matricola" [ngClass]="{'is-invalid': submitted && f.matricola.errors }" />
                  <div *ngIf="submitted && f.matricola.errors" class="invalid-feedback">
                    <div *ngIf="f.matricola.errors.required">Matricola obbligataria</div>
                  </div>
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="telaio">Telaio</label>
                  <input class="form-control" id="telaio" formControlName="telaio" placeholder="Telaio" type="telaio" [ngClass]="{'is-invalid': submitted && f.telaio.errors }" />
                  <div *ngIf="submitted && f.telaio.errors" class="invalid-feedback">
                    <div *ngIf="f.telaio.errors.required">Telaio obbligatario!</div>
                  </div>
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="assegnatario">Azienda Assegnataria</label>
                  <select class="form-control" id="assegnatario" formControlName="assegnatario"   [compareWith]="compareAzienda">
                    <option [ngValue]="null" ></option>
                    <option [ngValue]="l" *ngFor="let l of listAzienda">{{l.nome}}</option>
                  </select>
                </div>
              
            </div>
            <div class="row text-center">
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="fornitore">Fornitore</label>
                  <select class="form-control" id="fornitore" formControlName="fornitore"   [compareWith]="compareFn">
                    <option [ngValue]="null" ></option>
                    <option [ngValue]="l" *ngFor="let l of listFornitore">{{l.descrizione}}</option>
                  </select>
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="categoria">Categoria</label>
                  <select class="form-control" id="categoria" formControlName="categoria"   [compareWith]="compareFn">
                    <option [ngValue]="null" ></option>
                    <option [ngValue]="l" *ngFor="let l of listCategoria">{{l.descrizione}}</option>
                  </select>
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="classe">Classe</label>
                  <select class="form-control" id="classe" formControlName="classe"   [compareWith]="compareFn">
                    <option [ngValue]="null" ></option>
                    <option [ngValue]="l" *ngFor="let l of listClasse">{{l.descrizione}}</option>
                  </select>
                </div>

            </div>
            <div class="row text-center">
                  <div class="col-md-4 form-group mb-3 text-center">
                    <label for="dispCopiaCartaCirc">Copia Carta Circolazione</label>
                    <select class="form-control" id="dispCopiaCartaCirc" formControlName="dispCopiaCartaCirc"   [compareWith]="compareFn">
                      <option [ngValue]="null" ></option>
                      <option [ngValue]="l" *ngFor="let l of listDispCopiaCC">{{l.descrizione}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group mb-3 text-center">
                    <label for="modello">Modello</label>
                    <select class="form-control" id="modello" formControlName="modello"   [compareWith]="compareFn">
                      <option [ngValue]="null" ></option>
                      <option [ngValue]="l" *ngFor="let l of listModello">{{l.descrizione}}</option>
                    </select>
                  </div>              
                  <div class="col-md-4 form-group mb-3 text-center">
                    <label for="regimeProprieta">Regime Proprieta</label>
                    <select class="form-control" id="regimeProprieta" formControlName="regimeProprieta"   [compareWith]="compareFn">
                      <option [ngValue]="null" ></option>
                      <option [ngValue]="l" *ngFor="let l of listRegimeProprieta">{{l.descrizione}}</option>
                    </select>
                  </div>
            </div>
            <div class="row text-center">
                  <div class="col-md-4 form-group mb-3 text-center">
                    <label for="tipoAlimentazione">Tipo Alimentazione</label>
                    <select class="form-control" id="tipoAlimentazione" formControlName="tipoAlimentazione"   [compareWith]="compareFn">
                      <option [ngValue]="null" ></option>
                      <option [ngValue]="l" *ngFor="let l of listAlimentazione">{{l.descrizione}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group mb-3 text-center">
                    <label for="tipoAllestimento">Tipo Allestimento</label>
                    <select class="form-control" id="tipoAllestimento" formControlName="tipoAllestimento"   [compareWith]="compareFn">
                      <option [ngValue]="null" ></option>
                      <option [ngValue]="l" *ngFor="let l of listAllestimento">{{l.descrizione}}</option>
                    </select>
                  </div>
                  <div class="col-md-4 form-group mb-3 text-center">
                    <label for="lunghezza">Lunghezza</label>
                    <input class="form-control" id="lunghezza" formControlName="lunghezza" placeholder="Lunghezza" type="lunghezza" [ngClass]="{'is-invalid': submitted && f.lunghezza.errors }" />                  
                  </div>
          </div>
          <div class="row text-center">
                <div class="col-md-4 form-group mb-3 text-center">
                    <label for="numPorte">Numero Porte</label>
                    <input class="form-control" id="numPorte" formControlName="numPorte" placeholder="Numero Porte" type="numPorte" [ngClass]="{'is-invalid': submitted && f.numPorte.errors }" />              
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                    <label for="targa1imm">Targa 1 Immatricolazione</label>
                    <input class="form-control" id="targa1imm" formControlName="targa1imm" placeholder="Targa" type="targa1imm" [ngClass]="{'is-invalid': submitted && f.targa1imm.errors }" />
                    <div *ngIf="submitted && f.targa1imm.errors" class="invalid-feedback">
                      <div *ngIf="f.targa1imm.errors.required">Targa obbligatoria!</div>
                    </div>
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="dataPrimaImm">Data I Immatricolazione</label>
                  <div class="input-group">
                      <input class="form-control" id="dataPrimaImm"  formControlName="dataPrimaImm"  ngbDatepicker #d="ngbDatepicker"  tabindex="-1">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="icon-regular i-Calendar-4"></i></button>
                      </div>
                  </div>
                </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4 form-group mb-3 text-center">
                  <label for="kmDataRevisione">Km Data Revisione</label>
                  <input class="form-control" id="kmDataRevisione" formControlName="kmDataRevisione" placeholder="Km" type="kmDataRevisione" [ngClass]="{'is-invalid': submitted && f.kmDataRevisione.errors }" />              
              </div>
              <div class="col-md-4 form-group mb-3 text-center">
                <label for="dataUltimaRevisione">Data Ultima Revisione</label>
                <div class="input-group">
                    <input class="form-control" id="dataUltimaRevisione" formControlName="dataUltimaRevisione"  ngbDatepicker #d1="ngbDatepicker"  tabindex="-1">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="icon-regular i-Calendar-4"></i></button>
                    </div>
                </div>
              </div>
              <div class="col-md-4 form-group mb-3 text-center">
                <label for="dataScadUsufrutto">Data Scadenza Usufrutto</label>
                <div class="input-group">
                    <input class="form-control" id="dataScadUsufrutto" formControlName="dataScadUsufrutto" ngbDatepicker #d3="ngbDatepicker"  tabindex="-1">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button"><i class="icon-regular i-Calendar-4"></i></button>
                    </div>
                </div>
              </div>
          </div>
          <div class="row text-center">
            <div class="col-md-4 form-group mb-3 text-center">
              <label for="dataAttivazioneavm">Data Attivazione AVM</label>
              <div class="input-group">
                  <input class="form-control" id="dataAttivazioneavm" formControlName="dataAttivazioneavm" ngbDatepicker #d4="ngbDatepicker"  tabindex="-1">
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d4.toggle()" type="button"><i class="icon-regular i-Calendar-4"></i></button>
                  </div>
              </div>
            </div>
            <div class="col-md-4 form-group mb-3 text-center">
              <label for="dataContrattoAziendaTpl">Data Contratto TPL</label>
              <div class="input-group">
                  <input class="form-control" id="dataContrattoAziendaTpl" formControlName="dataContrattoAziendaTpl" ngbDatepicker #d5="ngbDatepicker"  tabindex="-1">
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d5.toggle()" type="button"><i class="icon-regular i-Calendar-4"></i></button>
                  </div>
              </div>
            </div>
            <div class="col-md-4 form-group mb-3 text-center">
              <label for="dataConsegnaAdAziendaTpl">Data Consegna TPL</label>
              <div class="input-group">
                  <input class="form-control" id="dataConsegnaAdAziendaTpl" formControlName="dataConsegnaAdAziendaTpl" ngbDatepicker #d6="ngbDatepicker"  tabindex="-1">
                  <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d6.toggle()" type="button"><i class="icon-regular i-Calendar-4"></i></button>
                  </div>
              </div>
            </div>
          </div>
          <div class="row text-center">
                <div class="col-md-4 form-group mb-3 text-center">
                    <label for="numSimSerialNumber">Numero SIM Serial N.</label>
                    <input class="form-control" id="numSimSerialNumber" formControlName="numSimSerialNumber" placeholder="SIM Serial N." type="numSimSerialNumber" [ngClass]="{'is-invalid': submitted && f.numSimSerialNumber.errors }" />              
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="numSimTelefonico">Sim Tel.</label>
                  <input class="form-control" id="numSimTelefonico" formControlName="numSimTelefonico" placeholder="Sim Tel." type="numSimTelefonico" [ngClass]="{'is-invalid': submitted && f.numSimTelefonico.errors }" />              
                </div>
                <div class="col-md-4 form-group mb-3 text-center">
                  <label for="costoAcquistoNettoIva">Costo Acquisto Netto Iva</label>
                  <input class="form-control" id="costoAcquistoNettoIva" formControlName="costoAcquistoNettoIva" placeholder="Costo Acquisto" type="costoAcquistoNettoIva" [ngClass]="{'is-invalid': submitted && f.costoAcquistoNettoIva.errors }" />              
                </div>
          </div>
          <div class="row text-center">
              <div class="col-md-4 form-group mb-3 text-center">
                  <label for="depositoRicoveroProtComunicazione">N. Protocollo Ricovero</label>
                  <input class="form-control" id="depositoRicoveroProtComunicazione" formControlName="depositoRicoveroProtComunicazione" placeholder="N. Protocollo Ricovero" type="depositoRicoveroProtComunicazione" [ngClass]="{'is-invalid': submitted && f.depositoRicoveroProtComunicazione.errors }" />              
              </div>
              <div class="col-md-4 form-group mb-3 text-center">
                <label for="indirizzoDepositoRicovero">Indirizzo Ricovero</label>
                <input class="form-control" id="indirizzoDepositoRicovero" formControlName="indirizzoDepositoRicovero" placeholder="Indirizzo Ricovero" type="indirizzoDepositoRicovero" [ngClass]="{'is-invalid': submitted && f.indirizzoDepositoRicovero.errors }" />              
              </div>
              <div class="col-md-4 form-group mb-3 text-center">
                <label for="utimaVerIspettiva">Ultima Ver. Ispettiva</label>
                <input class="form-control" id="utimaVerIspettiva" formControlName="utimaVerIspettiva" placeholder="Ultima Ver. Ispettiva" type="utimaVerIspettiva" [ngClass]="{'is-invalid': submitted && f.utimaVerIspettiva.errors }" />              
              </div>
          </div>
          <div class="row text-center">
            <div class="col-md-12 form-group mb-3 text-center">
                <label for="note">Note</label>
                <input class="form-control" id="note" formControlName="note" placeholder="Note" type="note" [ngClass]="{'is-invalid': submitted && f.note.errors }" />              
            </div>
        </div>

          <br>

          <div class="col-md-12 text-center">
            <btn-loading type="submit" btnClass="btn btn-primary mt-2" [loading]="loading2" >Salva</btn-loading>
          </div>
       </form>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('ok')">Chiudi</button>
  </div>
</ng-template>


<div class="module-loader" *ngIf="moduleLoading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>

<div class="module-loader" *ngIf="loadingcsv">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>