<div class="">
  <div class="breadcrumb">
    <h1>Riepilogo</h1>
    <ul>
      <li><a href="#">Giftcard</a></li>
      <li>Report</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <!--<div class="col-md-12">
          <div class="form-group">
            <label for="">Country</label>
            <select class="form-control" name="" id="" [(ngModel)]="selectedCountry" (change)="onChangeCountry()">
              <option *ngFor="let c of countries$ | async" [value]="c.Slug">{{c.Country}}</option>
            </select>
          </div>
        </div>-->
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <div echarts [options]="giftcardChartOptions" class="demo-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngFor="let g of graficiData">
      <div class="card">
        <div class="card-body">
          <h4 style="font-weight: 500;">{{g.testo}}</h4>
          <h1 class="text-right" style="font-weight: bold;">{{g.valore}}</h1>
        </div>
      </div>
    </div>

  </div>

  <div class="module-loader" *ngIf="moduleLoading">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
  </div>
  
  <div class="module-loader" *ngIf="moduleLoading2">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
  </div>