<div class="breadcrumb">
  <h1>Gestione Password</h1>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row mb-4">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card mb-4 noround">
      <div class="card-body">
        <div class="card-title mb-3">Cambia Password</div>

        <form [formGroup]="changePswForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Username" class="labelsignup">Username</label>
            <input id="Username" class="form-control form-control-rounded inputsignup" formControlName="username"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" type="username">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username è richiesto</div>
            </div>
          </div>
          <div class="form-group">
            <label for="oldPassword" class="labelsignup">Vecchia Password</label>
            <input id="oldPassword" class="form-control form-control-rounded inputsignup" formControlName="oldPassword"
            type="password" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }">
          <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
            <div *ngIf="f.oldPassword.errors.required">La Vecchia Password è richiesta</div>
          </div>
          </div>
          <div class="form-group">
            <label for="password" class="labelsignup">Nuova Password</label>
            <input id="password" class="form-control form-control-rounded inputsignup" formControlName="password"
              type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password è richiesta</div>
              <div *ngIf="f.password.errors.minlength">Password deve avere una lunghezza minima di 6 caratteri</div>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="labelsignup">Conferma Nuova Password</label>
            <input id="confirmPassword" class="form-control form-control-rounded inputsignup"
              formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
              type="password">
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">La conferma password è richiesta</div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">Le password non corrispondono</div>
            </div>
          </div>

          <!-- <button class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button> -->
          <btn-loading btnClass="btn-light btn-rounded btn-block mb-3 mt-3" style="background-color: #5a5252 !important;" [loadingText]="loadingText"
            [loading]="loading">
            Conferma
          </btn-loading>
        </form>
      </div>
    </div>
  </div>