<div class="breadcrumb">
  <h1>Gestione Gara</h1>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row mb-4">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card mb-4 noround">
      <div class="card-body">
        <div class="card-title mb-3">Filtro Ricerca Gara</div>
        <form [formGroup]="cercaGaraForm" (ngSubmit)="cercaGara()">
          <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="codGara">Codice Gara</label>
                <input class="form-control" id="codGara" formControlName="codGara" placeholder="Codice Gara" type="codGara"/>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="cup">CUP</label>
                <input class="form-control" id="cup" formControlName="cup" placeholder="CUP" type="cup"  />
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="cig">CIG</label>
                <input class="form-control" id="cig" formControlName="cig" placeholder="CIG"  type="cig" />
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 form-group mb-3">
                <label for="rup">RUP</label>
                <input class="form-control" id="rup" formControlName="rup" placeholder="RUP"  type="rup" />
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="dec">DEC</label>
                <input class="form-control" id="dec" formControlName="dec" placeholder="DEC" />
              </div>
          </div>

            <br>

            <div class="col-md-12 text-center">
              <btn-loading type="submit" btnClass="btn-primary btn-lg" [loading]="loading">Cerca</btn-loading>
            </div>
         
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
<br>


<div class="row">
  
  <btn-loading type="button" btnClass="btn btn-info btn-lg" (click)="openLg(modalGara,null)">Aggiungi</btn-loading>
  &nbsp;&nbsp;
  <btn-loading type="button" btnClass="btn btn-info btn-lg" (click)="exportCSV()">Esporta CSV</btn-loading>
  
  <table class="table table-bordered" style="margin-top: 5px;">
    <thead class="thead-light">
      <tr>
        <th scope="col">Cod Gara</th>
        <th scope="col">CUP</th>
        <th scope="col">CIG</th>
        <th scope="col">RUP</th>
        <th scope="col">DEC</th>
        <th scope="col">Finanziamento</th>
        <th scope="col"  style="text-align: center;">Azioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of listGara">
        <th scope="row">{{l.codGara}}</th>
        <td>{{l.cup}}</td>
        <td>{{l.cig}}</td>
        <td>{{l.rup}}</td>
        <td>{{l.drec}}</td>
        <td>{{l?.finAcq?.descrizione}}</td>
        
        <td style="text-align: center;">
          <button class="btn btn-info btn-lg" (click)="openLg(modalGara, l)" type="button">
            <i class="icon-regular i-Pen-2"></i>
          </button>
          &nbsp;&nbsp;
          <button class="btn btn-info btn-lg" (click)="deleteGara(l.id)" type="button">
            <i class="icon-regular i-Close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<ng-template #modalGara let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Gara</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
          <form [formGroup]="garaForm" (ngSubmit)="salvaGara()"   class="mx-auto">

            <input class="form-control" id="id" formControlName="id" type="hidden"  />

            <div class="row text-center">
                <div class="col-md-6 form-group mb-3 text-center">
                  <label for="codGara">Codice Gara</label>
                  <input class="form-control" id="codGara" formControlName="codGara" placeholder="Codice Gara" type="codGara" [ngClass]="{'is-invalid': submitted && f.codGara.errors }" />
                  <div *ngIf="submitted && f.codGara.errors" class="invalid-feedback">
                    <div *ngIf="f.codGara.errors.required">Codoce Gara Obbligatorio</div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3 text-center">
                  <label for="cup">CUP</label>
                  <input class="form-control" id="cup" formControlName="cup" placeholder="CUP" type="cup" [ngClass]="{'is-invalid': submitted && f.cup.errors }" />
                  <div *ngIf="submitted && f.cup.errors" class="invalid-feedback">
                    <div *ngIf="f.cup.errors.required">CUP obbligatario!</div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3 text-center">
                  <label for="cig">CIG</label>
                  <input class="form-control" id="cig" formControlName="cig" placeholder="CIG" type="cig" [ngClass]="{'is-invalid': submitted && f.cig.errors }" />
                  <div *ngIf="submitted && f.cig.errors" class="invalid-feedback">
                    <div *ngIf="f.cig.errors.required">CIG obbligatario!</div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3 text-center">
                    <label for="finAcq">Finanziamento Acquisto</label>
                    <select class="form-control" id="finAcq" formControlName="finAcq"   [compareWith]="compareFn">
                      <option [ngValue]="null" ></option>
                      <option [ngValue]="l" *ngFor="let l of listFinAcq">{{l.descrizione}}</option>
                    </select>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 form-group mb-3 text-center">
                  <label for="rup">RUP</label>
                  <input class="form-control" id="rup" formControlName="rup" placeholder="RUP" type="rup" [ngClass]="{'is-invalid': submitted && f.rup.errors }" />
                  <div *ngIf="submitted && f.rup.errors" class="invalid-feedback">
                    <div *ngIf="f.rup.errors.required">RUP obbligatario!</div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3 text-center">
                  <label for="dec">DEC</label>
                  <input class="form-control" id="dec" formControlName="dec" placeholder="DEC" type="dec" [ngClass]="{'is-invalid': submitted && f.dec.errors }" />
                  <div *ngIf="submitted && f.dec.errors" class="invalid-feedback">
                    <div *ngIf="f.dec.errors.required">DEC obbligatario!</div>
                  </div>
                </div>
            </div>

              <br>

              <div class="col-md-12 text-center">
                <btn-loading type="submit" btnClass="btn btn-primary mt-2" [loading]="loading2" >Salva</btn-loading>
              </div>
          </form>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('ok')">Chiudi</button>
  </div>
</ng-template>


<div class="module-loader" *ngIf="moduleLoading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>

<div class="module-loader" *ngIf="loadingcsv">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>