<div class="breadcrumb">
  <h1>Gestione Azienda</h1>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row mb-4">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card mb-4 noround">
      <div class="card-body">
        <div class="card-title mb-3">Filtro Ricerca Azienda</div>
        <form [formGroup]="cercaAziendaForm" (ngSubmit)="cercaAzienda()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="matricola">Matricola Azienda</label>
              <input class="form-control" id="matricola" formControlName="matricola" placeholder="Matricola" type="matricola"  />
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="nome">nome</label>
              <input class="form-control" id="nome" formControlName="nome" placeholder="Nome" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="nominativoRef">Nominativo Referente</label>
              <input class="form-control" id="nominativoRef" formControlName="nominativoRef" placeholder="Nominativo"
                type="nominativoRef"  />
            </div>
            <div class="col-md-6 form-group mb-3">
              <label for="mailRef">E-Mail Referente</label>
              <input class="form-control" id="mailRef" formControlName="mailRef" placeholder="E-Mail"
                type="mailRef" />
            </div>
          </div>

            <br>

            <div class="col-md-12 text-center">
              <btn-loading type="submit" btnClass="btn-primary btn-lg" [loading]="loading">Cerca</btn-loading>
            </div>
         
        </form>
      </div>
    </div>
  </div>

<br>


<div class="row">
  
  <btn-loading type="button" btnClass="btn btn-info btn-lg" (click)="openLg(modalAzienda,null)">Aggiungi</btn-loading>
  &nbsp;&nbsp;
  <btn-loading type="button" btnClass="btn btn-info btn-lg" (click)="exportCSV()">Esporta CSV</btn-loading>
  
  <table class="table table-bordered" style="margin-top: 5px;">
    <thead class="thead-blue">
      <tr>
        <th scope="col">Matricola</th>
        <th scope="col">nome</th>
        <th scope="col">Nominativo Referente</th>
        <th scope="col">E-Mail Referente</th>
        <th scope="col">Telefono Referente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of listAzienda">
        <th scope="row">{{l.matricola}}</th>
        <td>{{l.nome}}</td>
        <td>{{l.nominativoRef}}</td>
        <td>{{l.mailRef}}</td>
        <td>{{l.telRef}}</td>
        <td style="text-align: center;">
          <button class="btn btn-info btn-lg" (click)="openLg(modalAzienda, l)" type="button">
            <i class="icon-regular i-Pen-4"></i>
          </button>
        </td>
        <td style="text-align: center;">
          <button class="btn btn-info btn-lg" (click)="deleteAzienda(l.id)" type="button">
            <i class="icon-regular i-Close"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<ng-template #modalAzienda let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Azienda</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
          <form [formGroup]="aziendaForm" (ngSubmit)="salvaAzienda()"   class="mx-auto">

            <input class="form-control" id="id" formControlName="id" type="hidden"  />

            <div class="row text-center">
              <div class="col-md-6 form-group mb-3 text-center">
                <label for="matricola">Matricola Azienda</label>
                <input class="form-control" id="matricola" formControlName="matricola" placeholder="Matricola"
                  type="matricola" [ngClass]="{'is-invalid': submitted && f.matricola.errors }" />
                <div *ngIf="submitted && f.matricola.errors" class="invalid-feedback">
                  <div *ngIf="f.matricola.errors.required">La Matricola è obbligataria!</div>
                </div>
              </div>
              <div class="col-md-6 form-group mb-3 text-center">
                <label for="nome">Nome</label>
                <input class="form-control" id="nome" formControlName="nome" placeholder="Nome"  type="nome" [ngClass]="{'is-invalid': submitted && f.nome.errors }" />
                <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                  <div *ngIf="f.nome.errors.required">Il nome Azienda è obbligatorio</div>
                </div>
              </div>
            </div>
            <div class="row text-center">
              <div class="col-md-6 form-group mb-3 text-center">
                <label for="nominativoRef">Nominativo Referente</label>
                <input class="form-control" id="nominativoRef" formControlName="nominativoRef" placeholder="Nominativo"
                  type="nominativoRef" [ngClass]="{'is-invalid': submitted && f.nominativoRef.errors }" />
                <div *ngIf="submitted && f.nominativoRef.errors" class="invalid-feedback">
                  <div *ngIf="f.nominativoRef.errors.required">Il nominativo è obbligataria!</div>
                </div>
              </div>
              <div class="col-md-6 form-group mb-3 text-center">
                <label for="mailRef">E-Mail Referente</label>
                <input class="form-control" id="mailRef" formControlName="mailRef" placeholder="E-Mail"
                  type="mailRef" [ngClass]="{'is-invalid': submitted && f.mailRef.errors }" />
                <div *ngIf="submitted && f.mailRef.errors" class="invalid-feedback">
                  <div *ngIf="f.mailRef.errors.required">L'E-Mail è obbligataria!</div>
                </div>
              </div>
              <div class="col-md-6 form-group mb-3 text-center">
                <label for="telRef">Telefono Referente</label>
                <input class="form-control" id="telRef" formControlName="telRef" placeholder="Telefono" />
              </div>
            </div>

              <br>

              <div class="col-md-12 text-center">
                <btn-loading type="submit" btnClass="btn btn-primary mt-2" [loading]="loading2" >Salva</btn-loading>
              </div>
          </form>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-rounded" (click)="modal.close('ok')">Chiudi</button>
  </div>
</ng-template>


<div class="module-loader" *ngIf="moduleLoading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>

<div class="module-loader" *ngIf="loadingcsv">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>