.layout-sidebar-large .sidebar-left .navigation-left .nav-item {
    /* position: relative; */
    display: block;
    width: 100%;
    color: #4c6d96!important;
    cursor: pointer;
    border-bottom: 1px solid #dee2e6;
}